body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #f8f8f8;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input, select, button {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

button {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #217dbb;
}

#repos {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.repo {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.repo a {
    color: #3498db;
    text-decoration: none;
}

.repo a:hover {
    text-decoration: underline;
}

#loader {
    display: none;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

#pagination {
    margin-top: 20px;
    text-align: center;
}

#pagination button {
    margin: 0 5px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

#pagination button:hover {
    background-color: #217dbb;
}

#currentPage {
    margin: 0 10px;
    font-weight: bold;
    color: #555;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 600px) {
    #pagination {
        flex-direction: column-reverse;  
    }
    #pagination button {
        /* margin-top: 5px; */
        margin-top: 20px;
    }
}